<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{backoffice/layout/layout}">
<div layout:fragment="dashboard">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Ordine ricevuto:</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
							<li class="breadcrumb-item active">Ordine arrivato a destinazione</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- Main content -->
		<section class="content">
			<form method="POST" action="" th:action="@{'/layoutUpdateClient/{id}'(id=${layout.id})}"
				th:object="${layout}" id="myForm"
				enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-12">	
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">layout</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool"
										data-card-widget="collapse" data-toggle="tooltip"
										title="Collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div>
							<div class="card-body">								
								<div class="input-group mb-3  @error('title') has-error @enderror">
									<label for="inputName">Completato</label> <input required
										th:field="*{completed}" type="checkbox" id="inputName" th:value="${layout.completed}"
										class="form-check-input">
								</div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a href="javascript:document.getElementById('myForm').reset();"
							class="btn btn-secondary">Annulla</a> <input type="submit"
							value="Salva" class="btn btn-success float-right">
					</div>
				</div>
			</form>
		</section>
		<!-- /.content -->
	</div>
</div>
</html>