<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{index}">
<div layout:fragment="create">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <form th:action="@{/create/category}" th:method="POST" th:object="${category}" class="row g-3">

        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Name</label>
            <input type="text" placeholder="Example USDT" th:field="*{name}" class="form-control" id="inputEmail4">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Crea</button>
        </div>
    </form>
    </main>
</div>
</html>