<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{index}">
<div layout:fragment="main" >
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
                <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>

        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount Crypto</th>
                    <th scope="col">Conversion</th>
                    <th scope="col">Url</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="asset : ${assets}">
                    <td th:text="${asset.id}">Name</td>
                    <td th:text="${asset.name}">Name</td>
                    <td th:text="${asset.description}">Description</td>
                    <td th:text="${asset.amount}">Amount</td>
                    <td th:text="${asset.conversion}">Conversion</td>
                    <td th:text="${asset.url}"><a class="nav-link"
                            th:href="@{${asset.url}}"
                            th:if="${not #assets.isEmpty(asset.url)}"></a>
                    </td>
                    <td>


                            <a class="btn btn-secondary" th:href="@{/delete/asset?id=} + ${asset.id}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                            </svg>
                            </a>

                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Pagination" th:if="${totalPages > 0}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a th:replace="paging :: paging(1, '<<', 'First Page')"></a>
                    </li>
                    <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a th:replace="paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
                    </li>
                    <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                        <a class="page-link" href="#">...</a>
                    </li>
                    <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                        th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                        <a th:replace="paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                    </li>
                    <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                        <a class="page-link" href="#">...</a>
                    </li>
                    <li class="page-item font-weight-bold"
                        th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a th:replace="paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a th:replace="paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </main>
</div>
</html>